# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.server.env
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# todo list
TodoList.js
TodoList.md

# temporary files
__temporary__

# logs from PaaS:
secretLogs.txt

# cypress .env data:
cypress.config.js