/* Shimmer styles below: */
:root {
  --shimmer-color-1: #93c5fd;
  --shimmer-color-2: #bfdbfe;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.shimmer {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, var(--shimmer-color-2) 8%, var(--shimmer-color-1) 18%, var(--shimmer-color-2) 33%);
  background-size: 800px 104px;
  position: relative;
}

/* Shimmer border styles below:*/
.shimmer-border-line {
  position: absolute;
  animation: shimmer 1.25s infinite linear;
  background: linear-gradient(to right, var(--shimmer-color-2) 8%, var(--shimmer-color) 18%, #eeeeee 33%);
}

.horizontal-top {
  left: 8px;
  top: 4px;
  height: 1px;
  width: calc(100% - 16px);
}

.horizontal-bottom {
  left: 8px;
  bottom: -4px;
  height: 1px;
  width: calc(100% - 16px);
}

.vertical-left {
  top: 12px;
  left: 0;
  width: 1px;
  height: calc(100% - 16px);
}

.vertical-right {
  top: 12px;
  right: 0;
  width: 1px;
  height: calc(100% - 16px);
}

// Możesz dodać do shimmerStyles.css

.shimmer-border-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: conic-gradient(
    var(--shimmer-color-2) 0deg 90deg,
    transparent 90deg 360deg
  );
}
.top-left {
  top: 4px;
  left: 0px;
}

.top-right {
  top: 4px;
  right: 0px;
  transform: rotate(90deg);
}

.bottom-right {
  bottom: -4px;
  right: 0px;
  transform: rotate(180deg);
}

.bottom-left {
  bottom: -4px;
  left: 0px;
  transform: rotate(270deg);
}