/* Shimmer styles below: */

:root {
  --shimmer-color-1: theme('colors.app.blue.DEFAULT / 30%');
  --shimmer-color-2: theme('colors.app.blue.DEFAULT / 20%');
  --shimmer-color-3: theme('colors.app.blue.DEFAULT / 10%');
  --shimmer-color-4: theme('colors.app.blue.DEFAULT / 5%');
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.shimmer,
.shimmer-button {
  position: relative;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}

.shimmer {
  background: linear-gradient(
    to right,
    var(--shimmer-color-2) 0%,
    var(--shimmer-color-1) 50%,
    var(--shimmer-color-2) 99%
  );
}

.shimmer-button {
  @apply border border-app-blue/20 rounded-xl;
  background: linear-gradient(
    to right,
    var(--shimmer-color-4) 0%,
    var(--shimmer-color-3) 50%,
    var(--shimmer-color-4) 99%
  );
}

/* Important! Below rule needs to be AFTER rules that are setting background for .shimmer and .shimmer-button*/
.shimmer,
.shimmer-button {
  background-size: 800px 104px;
}

/* Shimmer border styles below:*/
.shimmer-border-line {
  position: absolute;
  animation: shimmer 1.25s infinite linear;
  background: linear-gradient(
    to right,
    var(--shimmer-color-2) 0%,
    var(--shimmer-color-1) 50%,
    var(--shimmer-color-2) 99%
  );
}

.horizontal-top {
  left: 8px;
  top: 0px;
  height: 1px;
  width: calc(100% - 16px);
}

.horizontal-bottom {
  left: 8px;
  bottom: 0px;
  height: 1px;
  width: calc(100% - 16px);
}

.vertical-left {
  top: 8px;
  left: 0;
  width: 1px;
  height: calc(100% - 16px);
}

.vertical-right {
  top: 8px;
  right: 0;
  width: 1px;
  height: calc(100% - 16px);
}

.shimmer-arc {
  position: absolute;
  color: var(--shimmer-color-2);
}

.top-left {
  top: 0px;
  left: 0px;
  transform: rotate(180deg);
}

.top-right {
  top: 0px;
  right: 0px;
  transform: rotate(270deg);
}

.bottom-right {
  bottom: 0px;
  right: 0px;
}

.bottom-left {
  bottom: 0px;
  left: 0px;
  transform: rotate(90deg);
}
