@tailwind base;
@tailwind components;
@tailwind utilities;

.grow-2 {
  flex-grow: 2;
}

.max-lines-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  -webkit-line-clamp: 3;
}

.comment-vertical-line {
  height: calc(100% - 48px);
}

.comment-vertical-line::before {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  left: 5px;
  height: calc(100%);
  background-color: lightgray;
}

.comment-vertical-line:hover {
  cursor: pointer;
}

.comment-vertical-line:hover::before {
  background-color: blue;
}

.change-border-on-child-focus:focus-within {
  border-color: rgb(74, 85, 104);
}

.text-15 {
  font-size: 15px;
}


/* Spinner styles below: */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Tailwind classes: */



.nav-button {
  @apply w-full mr-1 md:mr-0 bg-white text-gray-800 py-2 rounded-md hover:bg-blue-100 focus:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-200 shadow-md;
}

.nav-gradient {
  @apply bg-gradient-to-b md:bg-gradient-to-r from-gray-100 to-white
}

.btn-blue {
  @apply rounded-md bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-200
}

.btn-gray {
  @apply bg-gray-400 text-white rounded-lg hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-400 transition-colors duration-200
}

.input-gray {
  @apply rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500
}

.input-white {
  @apply rounded-md bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500
}

.label {
  @apply block text-sm font-medium text-gray-700
}

.shadow-center-md {
  box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.3)
}

.shadow-center-sm,
.hover\:shadow-center-sm:hover {
  @apply shadow-[3px_3px_10px_1px_rgba(0,0,0,0.2)]
}

.shadow-center-md,
.hover\:shadow-center-md:hover {
  @apply shadow-[3px_3px_10px_1px_rgba(0,0,0,0.3)]
}

.shadow-center-lg,
.hover\:shadow-center-lg:hover {
  @apply shadow-[4px_4px_15px_1px_rgba(0,0,0,0.3)]
}