@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-text-orange: rgb(250, 125, 58); /* zamiast starego #c2410c */
}

/***************** App Background *****************/

body {
  background-image: url('/backgrounds/cosmos-blue.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-color: #000; 
}


/********************* Fonts *********************/

h1, h2, h3, h4, h5, h6, p, ul, li {
  @apply text-app-blue-text
}

body, .font-rubik {
  font-family: var(--font-rubik), sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, .font-orbitron {
  font-family: var(--font-orbitron), sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

button, .btn-orbitron {
  font-family: var(--font-orbitron), sans-serif;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.font-orbitron-bold {
  font-family: var(--font-orbitron), sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
}

a, .anchor-color {
  color: #ea580c;
}

a:hover, .anchor-color:hover, .btn-color-hover:hover, .btn-color-hover:hover p, .btn-color-hover:hover svg path {
  color: var(--tw-text-orange);
  fill: var(--tw-text-orange);
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-15 {
  font-size: 15px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

/******************** General ********************/
html {
  overflow-y: scroll;
}

.grow-2 {
  flex-grow: 2;
}


.max-lines-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  -webkit-line-clamp: 3;
}

.max-lines-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  -webkit-line-clamp: 1;
}

.comment-vertical-line {
  height: calc(100% - 48px);
}

.comment-vertical-line::before {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  left: 5px;
  height: calc(100%);
  background-color: lightgray;
}

.comment-vertical-line:hover {
  cursor: pointer;
}

.comment-vertical-line:hover::before {
  background-color: blue;
}

.comment-vertical-line:hover .comment-collapse-icon {
  cursor: pointer;
  color: blue;
  border-color: blue;
}

.change-border-on-child-focus:focus-within {
  border-color: rgba(163, 244, 255, 0.6);
}

.border-1 {
  border-width: 1px;
}

.border-t-1 {
  border-top-width: 1px;
}

.circle-quarter {
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(163, 244, 255) rgba(0, 0, 0, 0);
  transform: rotate(45deg);
}

.transition-height {
  transition: height 0.5s ease-in-out;

}

.will-change-max-height {
  will-change: max-height;
}


/* Toast styles below: */
.toast {
  transition: transform 0.5s;
  transform: translateX(-50%) translateY(160px);
  left: 50%;
}

.toast.start {
  transform: translateX(-50%) translateY(-5px);
}

.toast.show {
  transform: translateX(-50%) translateY(0);
}

/***** Rendered HTML Elements Styles *****/
/* React Quill WYGIWYS Visual Overwrites */

.render-html h2 {
  font-size: 1.25em !important;
  margin: 0.6em 0 !important;
  font-weight: bold !important;
}

.render-html p {
  font-size: 1em !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  line-height: 1.6 !important;
}

.render-html ul,
.render-html ol {
  margin: 1em 0 !important;
  padding-left: 40px !important;
  list-style-position: outside !important;
}

.render-html li {
  display: list-item !important;
  margin-bottom: 0.25em !important;
}

.render-html ul {
  list-style-type: disc !important;
}

.render-html ol {
  list-style-type: decimal !important;
}

.render-html blockquote {
  margin: 1em 0 !important;
  padding-left: 1em !important;
  border-left: 4px solid #ddd !important;
  color: #555 !important;
}

.render-html pre {
  background-color: #f5f5f5 !important;
  border-radius: 4px !important;
  padding: 1em !important;
  overflow-x: auto !important;
  white-space: pre-wrap !important;
}

.render-html code {
  background-color: #f5f5f5 !important;
  border-radius: 4px !important;
  padding: 0.2em 0.4em !important;
  font-size: 0.9em !important;
  word-break: break-word !important;
}

.render-html a {
  color: #ea580c !important;
  text-decoration: none !important;
}

.render-html a:hover {
  text-decoration: underline !important;
}
mark.spoiler {
  background-color: #3b82f6; /* blue-500 */
  color: transparent;
  transition: color 0.2s;
  cursor: pointer;
}

mark.spoiler:hover {
  color: white;
}

.render-html .inline-code {
  background-color: #f5f5f5;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

.render-html hr {
  border: 0;
  border-top: 2px solid #ddd;
  margin: 1em 0;
}


/* React Quill Overwrites */

.ql-editor p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.6;
}

div.ql-editor {
  padding-left: 0px !important;
}

.ql-editor {
  font-size: 1rem !important; 
  line-height: 1.5 !important; 
}

.ql-container {
  border: none !important;
}

.ql-editor {
  padding: 0px 15px 10px 15px !important;
}

.ql-toolbar {
  border: none !important;
  padding: 0px 0px 6px 0px !important;
}

.ql-toolbar > *:not(.toolbar-menu *):not(.toolbar-menu) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 32px !important;
}

.ql-toolbar * {
  color: #A3F4FF;
  stroke: currentColor !important;
}

.ql-toolbar button:hover svg *,
.ql-toolbar .dots-btn:hover {
  color: #FA7D3A !important;
}

.ql-toolbar button {
  padding: 6px !important;
  width: 32px !important;
  height: 32px !important;
}


/***************************** Tailwind classes: ****************************/

/***************************** Glass components: ****************************/

@layer components {
  /* Glass tiles */
  .glass-blue-weak {
    @apply bg-app-blue/5 btn-border-blue-weak;
  }
 .glass-blue-soft {
    @apply btn-border-blue-soft;
    background-color: rgba(1, 30, 62, 0.7);
  }
 .glass-blue-normal {
    @apply btn-border-blue-soft;
    background-color: rgba(1, 30, 62, 0.3);
  }
  .glass-blue-strong {
    @apply bg-app-blue/20 btn-border-blue-strong;
  }
  .glass-blue-super {
    @apply bg-app-blue/40 btn-border-blue-super;
  }

  .btn-border-blue-weak {
    @apply border border-app-blue/30 rounded-xl shadow-md;
  }
  .btn-border-blue-soft {
    @apply border border-app-blue/30 backdrop-blur-md rounded-xl shadow-md;
  }
  .btn-border-blue-strong {
    @apply border border-app-blue/40 backdrop-blur-xl rounded-xl shadow-lg;
  }
  .btn-border-blue-super {
    @apply border border-app-blue/60 backdrop-blur-2xl rounded-xl shadow-xl;
  }

  .glass-orange-soft {
    @apply bg-app-orange-alpha/10 border border-app-orange-alpha/30 backdrop-blur-md rounded-2xl shadow-md;
  }
  .glass-orange-strong {
    @apply bg-app-orange-alpha/20 border border-app-orange-alpha/40 backdrop-blur-md rounded-2xl shadow-lg;
  }
  .glass-orange-super {
    @apply bg-app-orange-alpha/40 border border-app-orange-alpha/60 backdrop-blur-md rounded-2xl shadow-xl;
  }
}

/******************************** Buttons *******************************/

.input-element {
  @apply backdrop-blur-md rounded-md;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0,, 0.3), inset 0 0 40px 5px rgba(0, 0, 0, 0.15);
  background: rgba(163, 244, 255, 0.05);
}

.inner-blue-shadow {
  box-shadow: inset 0 0 30px 5px rgba(0, 0, 0, 0.2);
}

/******************************** Buttons *******************************/

/* this style targets orange button wrappers that cover app background */
/* so all orange buttons aplhas will yield the same colors */
.wrapper-orange-btn-bg {
  background: #01031a; 
  border-radius: 6px;
}

@layer components {
  .button-orange-strong {
    @apply border border-app-orange-alpha/60 backdrop-blur-md rounded-md shadow-xl text-app-orange-100;
    box-shadow: inset 0 0 12px 2px rgba(0,0,0,0.25);
    background: radial-gradient(ellipse at 50% 100%, 
      rgba(255, 183, 115, 0.7) 0%, 
      rgba(255, 183, 115, 0.25) 100%);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  }

  .button-orange-strong:hover {
    @apply border-app-orange-alpha/80 shadow-2xl;
    box-shadow: 0 4px 24px 4px rgba(255,183,115,0.25), inset 0 0 16px 4px rgba(0,0,0,0.30);
    background: radial-gradient(ellipse at 50% 80%, 
      rgba(255, 183, 115, 0.85) 0%, 
      rgba(255, 183, 115, 0.35) 100%);
    text-shadow: 3px 3px 6px rgba(0,0,0,0.7);
  }

  .button-orange-strong:active {
    @apply bg-app-orange-alpha/10 border-app-orange-alpha/60 shadow-xl text-app-orange-alpha;
    box-shadow: inset 0 0 5px 4px rgba(255,183,115,0.40);
    background: radial-gradient(ellipse at 50% 90%, 
      rgba(255, 183, 115, 0.40) 0%, 
      rgba(255, 183, 115, 0.20) 100%);
    text-shadow: none;
  }
  
    .button-silver {
    @apply border border-gray-500/60 backdrop-blur-md rounded-md shadow-xl text-gray-100;
    box-shadow: inset 0 0 12px 2px rgba(0,0,0,0.25);
    background: radial-gradient(ellipse at 50% 100%, 
      rgba(107, 114, 128, 0.9) 0%, 
      rgba(107, 114, 128, 0.2) 100%);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  }
  .button-silver:hover {
    @apply border-gray-500 shadow-2xl;
    box-shadow: 0 4px 24px 4px rgba(0,0,0,0.3), inset 0 0 16px 6px rgba(0,0,0,0.4);
    background: radial-gradient(ellipse at 50% 80%, 
      rgba(107, 114, 128, 0.8) 0%, 
      rgba(107, 114, 128, 0.2) 100%);
    text-shadow: 3px 3px 6px rgba(0,0,0,0.7);
  }
  .button-silver:active {
    @apply border-gray-600 shadow-xl text-gray-950;
    box-shadow: 0 2px 2px 2px rgba(255,255,255,0.05), inset 0 0 5px 4px rgba(0,0,0,0.2);
    background: radial-gradient(ellipse at 50% 90%, 
      rgba(107, 114, 128, 0.7) 0%, 
      rgba(0, 0, 0, 0.3) 100%);
    text-shadow: none;
  }


/* !!!! styles for buttons that need to be even 'stronger': * /

  /* .button-orange-strong::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
    border-top: 2px solid rgba(255,183,115,0.3);
    border-bottom: 2px solid rgba(255,183,115,0.8);
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 35%,
      black 65%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 35%,
      black 65%,
      transparent 100%
    );
    z-index: 2;
  }

  .button-orange-strong::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
    border: 2px solid rgba(255,183,115,0.4);
    z-index: 1;
  } */
}

/********************* Effects: onHover and onActive: *********************/
  @layer components {
  .interactive-blue-soft {
    @apply hover:bg-app-blue/20 
           hover:border-app-blue/40
           active:bg-app-blue/30
           active:border-app-blue/50;
  }

  .interactive-blue-strong {
    @apply hover:bg-app-blue/30
           hover:border-app-blue/50
           active:bg-app-blue/40 
           active:border-app-blue/60; 
  }

  .interactive-blue-super {
    @apply hover:bg-app-blue/50
           hover:border-app-blue/70
           active:bg-app-blue/60
           active:border-app-blue/80;
  }

  .interactive-orange-soft {
    @apply hover:text-app-orange-alpha/70
           hover:bg-app-orange-alpha/20
           hover:border-app-orange-alpha/40 
           active:bg-app-orange-alpha/30
           active:border-app-orange-alpha/50; 
  }

  .interactive-orange-soft:hover p,
  .interactive-orange-soft:hover svg {
    @apply text-app-orange-alpha/70;
  }
  
  .interactive-orange-text:hover,
  .interactive-orange-text:hover p,
  .interactive-orange-text:hover svg {
    @apply text-app-orange-alpha/70
  }

  .interactive-orange-text:active,
  .interactive-orange-text:active p,
  .interactive-orange-text:active svg {
    @apply text-app-orange-alpha/90
  }

  .interactive-orange-strong {
    @apply hover:text-app-orange-alpha/90
           hover:bg-app-orange-alpha/30
           hover:border-app-orange-alpha/50 
           active:bg-app-orange-alpha/40
           active:border-app-orange-alpha/60; 
  }

  .interactive-orange-strong:hover p,
  .interactive-orange-strong:hover svg {
    @apply text-app-orange-alpha/90;
  }

  .interactive-orange-super {
    @apply hover:text-app-orange-alpha
           hover:bg-app-orange-alpha/50
           hover:border-app-orange-alpha/70 
           active:bg-app-orange-alpha/60
           active:border-app-orange-alpha/80; 
  }

  .interactive-orange-super:hover p,
  .interactive-orange-super:hover svg {
    @apply text-app-orange-alpha;
  }
}

/**************************** Other components: ****************************/

.nav-button {
  @apply w-full mr-1 md:mr-0 py-2 text-app-blue-text transition-all duration-200 shadow-md;
}

.mobile-nav-button {
  @apply flex items-center relative w-full text-15 mr-1 mt-1 py-3 pl-4 bg-blue-50 hover:bg-blue-200 focus:bg-blue-200 md:focus:outline-none md:focus:ring-2;
}

.nav-sub-button {
  @apply w-full mr-1 md:mr-0 py-2 transition-all duration-200;
}

.nav-gradient {
  @apply bg-gradient-to-b md:bg-gradient-to-r from-gray-100 to-white
}

.btn-blue {
  @apply rounded-md bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-200
}

.btn-gray {
  @apply bg-gray-400 text-white rounded-lg hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-400 transition-colors duration-200
}

.input-gray {
  @apply rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500
}

.input-white {
  @apply rounded-md bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500
}

.label {
  @apply block text-sm font-medium text-gray-700
}

.shadow-center-sm,
.hover\:shadow-center-sm:hover {
  @apply shadow-[3px_3px_10px_1px_rgba(0,0,0,0.2)]
}

.shadow-center-md,
.hover\:shadow-center-md:hover {
  @apply shadow-[3px_3px_10px_1px_rgba(0,0,0,0.3)]
}

.shadow-center-lg,
.hover\:shadow-center-lg:hover {
  @apply shadow-[4px_4px_10px_2px_rgba(0,0,0,0.4)]
}
